:root {
  --cherry: #c84771;
  --green: #57f794;
  --green2: #4CD982;
  --purple8: #6b21a8;
  --purple5: #a855f7;
}
* {
  color: azure;
}
html {
    scroll-behavior: smooth;
  background: #212121;
}
.linkNav li:hover{
    border-bottom: 2px var(--green) solid;
}
.linkNav li{
    border-bottom: 2px transparent solid;
}
.colorText {
  color: var(--green);
}
.btnCv{
  background: var(--green);
}
.btnCv p{
  color: black;
}
.btnCv:hover{
  background: var(--green2);
}
.colorNav {
  background: var(--purple8);
}
.cardMaxW {
  max-width: 150px;
  max-height: 150px;
  background: var(--purple5);
  border: 2px solid var(--green);
}
.cardMaxW:hover{
 transform: scale(1.1);
}
.imgCard {
  width: 100px;
  height: 100px;
  margin: auto;
}
.imgCard img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* portafolio */
.cardMaxWPorta {
  position: relative;
  overflow: hidden;
  border: 3px solid var(--purple5);
}
.imgCardPorta {
  max-width: 300px;
  max-height: 200px;
}
.imgCardPorta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardMaxWPorta:hover .infoCardPorta {
  background-color: rgb(10, 10, 10, 0.5);
  display: block;
  top: 0%;
}
.cardMaxWPorta:hover .infoCardPorta p{
  color: white;
}
.infoCardPorta {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 85%;
  color: #212121;
  background-color: var(--green);
  transition: 0.3s;
}
.infoCardPorta p{
  color: #212121;
}
/* slider */
.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}


@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	65% {margin-left: -100%;}
	
	70% {margin-left: -200%;}
	100% {margin-left: -200%;}
	
}


/* contact */
.container {
  display: flex;
  width: 100%;
  align-items: center;
  perspective: 1800px;
}
.card {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 0.8rem;
  transform-style: preserve-3d;
}
.card div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-size: cover;
  background-position: center center;
  transition: 0.5s ease-in-out;
}
.logo {
  background-color: var(--purple5);
}
.logoName {
  transform: rotateX(180deg);
  color: transparent;
  font-size: 15px;
  font-weight: bold;
}
.card:hover .logo {
  transform: rotateX(-180deg);
  background-color: #f0ffff;
}
.card:hover .logoName {
  transform: rotateX(0deg);
  color: #212121;
}

footer{
    background-color: #474747;
}