:root {
  --cherry: #c84771;
  --green: #57f794;
  --green2: #4cd982;
  --purple5: #a855f7;
  --purple6: #9333ea;
  --purple7: #7e22ce;
  --purple8: #6b21a8;
}

* {
  color: azure;
}
html{
  scroll-behavior: smooth;
  background: #212121;
}
.es-en {
  width: 30px;
}
.es-en:hover {
  transform: scale(1.1);
}
.linkNav li:hover {
  border-bottom: 2px var(--green) solid;
}
.linkNav li {
  border-bottom: 2px transparent solid;
}
.colorText {
  color: var(--green);
}
.neon{
  text-shadow: 0 0 5px #a855f7, 0 0 10px #a855f7, 0 0 15px #a855f7, 0 0 20px #6b21a8, 0 0 30px #6b21a8, 0 0 40px #6b21a8, 0 0 55px #6b21a8, 0 0 75px #6b21a8, 2px 2px 2px ;
}
.btnCv {
  background: var(--green);
}
.btnDes {
  background: var(--purple7);
}
.btnCv p {
  color: black;
}
.btnCv:hover {
  background: var(--green2);
}
.btnDes:hover {
  background: var(--purple8);
}
.colorNav {
  background: var(--purple7);
}
.cardMaxW {
  max-width: 150px;
  max-height: 150px;
  background: var(--purple5);
  border: 2px solid var(--green);
}
.cardMaxW:hover {
  transform: scale(1.1);
}
.imgCard {
  width: 100px;
  height: 100px;
  margin: auto;
}
.imgCard img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* portafolio */
.cardMaxWPorta {
  position: relative;
  overflow: hidden;
  border: 3px solid var(--purple5);
}
.imgCardPorta {
  max-width: 300px;
  max-height: 200px;
}
.imgCardPorta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardMaxWPorta:hover .infoCardPorta {
  background-color: rgb(10, 10, 10, 0.5);
  display: block;
  top: 0%;
}
.cardMaxWPorta:hover .imgP {
  transform: scale(0.95);
  transition: 1s;
}
.imgP {
  border-radius: 10px;
}
.cardMaxWPorta:hover .infoCardPorta p {
  color: white;
}
.infoCardPorta {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 85%;
  color: #212121;
  background-color: var(--green);
  transition: 1s;
}
.infoCardPorta p {
  color: #212121;
}
/* slider */
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 10s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }

  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.logoPorta {
  width: 30px;
  height: 30px;
  border: 2px sodli var(--green);
}
.logoModal {
  background-color: var(--purple7);
  transform: scale(1.5);
  padding: 2px;
  border-radius: 6px;
}
.logoPorta:hover {
  transform: scale(1.2);
}
.desc {
  position: absolute;
  top: 85%;
  width: 100%;
  color: var(--green) !important;
}
.desc:hover {
  transform: scale(1.2);
}

/* modal */

.cardModal {
  margin: auto;
  transform: scale(1);
}
.cardModal .imgCardPorta {
  max-width: 100%;
  max-height: 200px;
}

.cardModal .slider ul {
  animation: none;
  width: 100%;
}
.cardModal .slider li img {
  width: 95%;
  margin: auto;
}
.cardModal .infoCardPorta {
  background-color: rgb(10, 10, 10, 0.5);
  display: block;
  top: 0%;
}
.cardModal .infoCardPorta p {
  color: white;
}

/* contact */
.container {
  display: flex;
  width: 100%;
  align-items: center;
  perspective: 1800px;
}
.card {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 0.8rem;
  transform-style: preserve-3d;
}
.card div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-size: cover;
  background-position: center center;
  transition: 0.5s ease-in-out;
}
.logo {
  background-color: var(--purple5);
}
.logoName {
  transform: rotateX(180deg);
  color: transparent;
  font-size: 15px;
  font-weight: bold;
}
.card:hover .logo {
  transform: rotateX(-180deg);
  background-color: #f0ffff;
}
.card:hover .logoName {
  transform: rotateX(0deg);
  color: #212121;
}

footer {
  background-color: #474747;
}

.house {
  border-radius: 20px;
  border: 5px solid var(--green);
}
.house button {
  border-radius: 10px;
  background-color: var(--green);
}
.house button:hover {
  border-radius: 10px;
  background-color: var(--green2);
}
